@using FantasyFL.Web.ViewModels.Administration.Data;
@model List<GameweekViewModel>

@{
    this.ViewData["Title"] = "Import Gameweeks Data";
}

<h4 class="text-center mt-3 mb-4">@this.ViewData["Title"]</h4>

<div class="row justify-content-center col-auto">
    <table class="table m-3">
        <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">Gameweek</th>
                <th class="text-center" scope="col">Import</th>
                <th class="text-center" scope="col">Finish</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gameweek in Model)
            {
                <tr>
                    <td class="text-center p-3" scope="col">@gameweek.Name</td>
                    <td class="text-center" scope="col">
                        @if (!gameweek.IsImported && gameweek.EndDate < DateTime.UtcNow)
                        {
                            <a asp-area="Administration"
                            asp-controller="Data"
                           asp-action="GetData"
                           asp-route-id="@gameweek.Id"
                           class="btn btn-outline-dark" role="button" aria-pressed="true">Get Data</a>
                        }
                    </td>
                    <td class="text-center" scope="col">
                        @if (!gameweek.IsFinished &&
                       gameweek.IsImported &&
                       gameweek.EndDate < DateTime.UtcNow &&
                       gameweek.PreviousIsFinished)
                        {
                            <a asp-area="Administration"
                            asp-controller="Data"
                           asp-action="Finish"
                           asp-route-id="@gameweek.Id"
                           class="btn btn-outline-success" role="button" aria-pressed="true">Finish</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
