@using FantasyFL.Common
@using FantasyFL.Web.ViewModels.Leagues
@model LeaguesViewModel

@{
    ViewData["title"] = "Leagues";
}

<div class="row pt-4 leagues">
    <div class="col-md-8 rel-view">
        <table class="table table-dark table-striped table-hover">
            <tbody>
                @foreach (var league in Model.Leagues)
                {
                    <tr>
                        <td class="font-weight-bold h6 text-light align-middle">@league.Name</td>
                        <td class="font-weight-bold">
                            <a asp-area=""
                           asp-controller="Leagues"
                           asp-action="Standings"
                           asp-route-id="@league.Id"
                           class="btn btn-light align-middle">
                                Standings
                            </a>
                        </td>
                        <td class="font-weight-bold text-right align-middle">
                            @if (!league.ParticipantsIds.Contains(Model.UserId) 
                                && !this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {

                                <a asp-area=""
                               asp-controller="Leagues"
                               asp-action="Join"
                               asp-route-id="@league.Id"
                               class="btn btn-light">
                                    Join
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="overflow-auto col-md-4 rel-view pl-2">
        <div class="text-center">
            <a asp-action="Create" class="btn btn-dark btn-lg">Create League</a>
        </div>
    </div>
</div>