@using FantasyFL.Web.ViewModels.Admin
@model List<GameweekViewModel>

<h1>Gameweeks info!</h1>

<ul class="list-group">
    @foreach(var gameweek in Model)
    {
        <li class="list-group-item list-group-item-success">@gameweek.Name</li>
    }
</ul>