@using FantasyFL.Web.ViewModels.FirstLeague
@model List<TeamListingViewModel>

@{
    ViewData["title"] = "Teams";
}
<div class="row">
    @foreach (var team in Model)
    {
        <div class="col-md-3">
            <div class="component">
                <div class="card">
                    <div class="card-header text-center">
                        <img class="card-img" src="~/images/logos/@team.Logo" alt="logo">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title mt-2">@team.Name</h4>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-area=""
                           asp-controller="Teams"
                           asp-action="Players"
                           asp-route-id="@team.Id"
                           class="btn btn-outline-dark btn-lg">
                            Players
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>