@using FantasyFL.Web.ViewModels.Fantasy
@model List<UserPlayerViewModel>

@{
    ViewData["title"] = "My Fantasy Team";
}

<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gameweek Points</th>
                    <th scope="col">Is Playing?</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@Model[i].Name</td>
                        <td>@Model[i].GameweekPoints</td>
                        <td>@Model[i].IsPlaying</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>